#container{
    width: 821px;
    height: 419px;
    margin: auto;
}

#header{
    width: 821px;
    height:65px;
}

#title{
    width:300px;
    height:50px;
    color: coral;
    margin: auto;
    margin-top: 10px;
    font-size: 30px;
    text-align: center;
    padding: 0px;
    letter-spacing: 6px;
    font-family: "楷体","楷体_GB2312";
}

#body{
	font-size:22px;
    font-family: "楷体","楷体_GB2312";
    width: auto;
    color: coral;
    margin-left: 230px;
    margin-right: 180px;
}
#table{
    border-collapse:collapse;
}
#table,td,th
{
    border:1px solid coral;
}